* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.2s ease, color 0.2s ease;
}
:root {
    --c1: #333;
    --c2: #fff;
    --box-shadow: 0 2px 2px #0000004d;
}

body:has(#theme:checked) {
    --c1: #fff;
    --c2: #333;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--c2);
    justify-content: center;
    align-items: center;
}
.switch-btn {
    position: relative;
    display: flex;
    width: 80px;
    height: 40px;
    background-color: var(--c1);
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transition: bgclr .5s ease;
    cursor: pointer;
    gap: 10px;
    padding: 4px;
}
.switch-btn img {
    width: 30px;
    height: 30px;
}
.virtual-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    appearance: none;
    cursor: pointer;
}
.circle {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: var(--c2);
    border-radius: 50%;
    transition: left .3s ease-in;
}
.virtual-btn:checked + .circle {
    left: 42px;
}